# Ignore Python cache files and directories
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
env/
myenv/


# Ignore system files
.DS_Store

# Ignore configuration files
*.log
*.tmp
*.ini

# Ignore IDE specific directories and files
.vscode/
.idea/